@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300;400;500&display=swap');

:root {
    --css-color-1: #01401E;
    --css-color-2: #B19539;
    /* --- */
    --color-red: #EB3F56;
    --color-red-light: #F56A71;
    --color-red-dark: #CC0621;
    --color-orange: #FF9757;
    --color-orange-light: #FFB384;
    --color-orange-dark: #D2611C;
    --color-yellow: #FFD357;
    --color-yellow-light: #FFE292;
    --color-yellow-dark: #D09D0D;
    --color-yellowgreen: #A8F809;
    --color-yellowgreen-light: #CEFC73;
    --color-yellowgreen-dark: #79AD10;
    --color-green: #45F936;
    --color-green-light: #83FC79;
    --color-green-dark: #16A20A;
    --color-mint: #18FA94;
    --color-mint-light: #7FFFC5;
    --color-mint-dark: #11AC66;
    --color-teal: #20FED5;
    --color-teal-light: #8FFAE6;
    --color-teal-dark: #0DA98D;
    --color-skyblue: #34AEFF;
    --color-skyblue-light: #93D1FA;
    --color-skyblue-dark: #186EA8;
    --color-blue: #4262EE;
    --color-blue-light: #9AACFA;
    --color-blue-dark: #0D28A0;
    --color-purple: #8A1EF0;
    --color-purple-light: #C995F8;
    --color-purple-dark: #6314AD;
    --color-pink: #EA2FF0;
    --color-pink-light: #F385F7;
    --color-pink-dark: #A617AB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    transition: 0.3s ease;
    outline: none;
    scrollbar-width: none;
    line-height: 1;
    scroll-behavior: smooth;
    user-select: none;
}

img {
    color: white;
}

html {
    background: black;
    height: 100vh;
    background: black;
}

body {
    background: linear-gradient(to bottom, var(--css-color-1), var(--css-color-2));
    height: calc(100vh - 32px);
    margin: 16px 28px 16px 28px;
    box-shadow: 0px 0px 10px -5px white;
}

body > div.bar {
    height: 13vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body > div.bar > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5vh;
}

body > div.bar > div p {
    color: white;
    font-size: 10vh;
    font-family: 'Azeret Mono', monospace;
    font-weight: 450;
}

body > div.bar div.date {
    width: 25%;
    align-items: flex-start;
}

body > div.bar div.clock {
    width: 50%;
    align-items: center;
}

body > div.bar div.weather {
    width: 25%;
    align-items: flex-end;
}

div.site {
    min-height: calc(100vh - 13vh - 32px);
    max-height: calc(100vh - 13vh - 32px);
    overflow: hidden;
}

div.site div.bars {
    height: calc(100vh - 13vh - 32px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.site div.bars div.bar {
    height: calc(((100vh - 13vh - 32px) / 2) - 10px);
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    border-top: 4px solid rgba(0, 0, 0, 0.8);
    border-bottom: 4px solid rgba(0, 0, 0, 0.8);
}

div.site div.bars div.bar div.progress {
    height: 100%;
    width: 50%;
    background-position: 0 100%;
    animation-fill-mode: forwards;
    transition: 1s linear;
}

div.site div.bars div.bar div.name-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    justify-content: center;
}

div.site div.bars div.bar div.name-container p {
    color: white;
    font-size: 5vw;
}

div.site div.bars div.bar div.remaining-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px;
    justify-content: center;
}

div.site div.bars div.bar div.remaining-container p {
    color: white;
    font-weight: bold;
    font-size: 9vw;
}

div.site div.bars div.bar.bar1 {
    margin: 10px 0px 10px 0px;
}

div.site div.bars div.bar.bar1 div.progress {
    background-image: repeating-linear-gradient(to right, var(--css-color-1), var(--css-color-2), var(--css-color-1));
    background-size: 200% 100%;
    animation: pushingGradient 20s linear infinite;
}

div.site div.bars div.bar.bar2 div.progress {
    background-image: repeating-linear-gradient(to right, var(--css-color-1), var(--css-color-2), var(--css-color-1));
    background-size: 200% 100%;
    animation: pushingGradient 20s linear infinite;
}

@keyframes pushingGradient {
    0%   { background-position: 0 0; }
    100% { background-position: -200% 0; }
}